<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{%block title%}My Proffesional Online E-Store{%endblock%}</title>
    <meta name="description" content="A simple hello world page" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="favicon.ico" />

    {% load static %}
    <link href="{% static  'dist/css/style.css'%}" real="stylesheet" />
  </head>
  <body>
    <script src="index.js"></script>
    {% block content%}{%endblock%}
  </body>
</html>
